<div class="question-container" *ngIf="question() as q">
  <h1>{{ q.question }}</h1>
  <div class="meta">
    <span class="author">Asked by {{ q.author.name }}</span>
    <span class="date">{{ q.createdAt | date:'medium' }}</span>
  </div>
  
  <div class="content" [innerHTML]="q.answers"></div>
  
  <div class="tags">
    <span class="tag" *ngFor="let tag of q.tags">{{ tag }}</span>
  </div>
  
  <div class="comments" *ngIf="q.comments && q.comments.length">
    <h3>Comments</h3>
    <div class="comment" *ngFor="let comment of q.comments">
      <p>{{ comment.content }}</p>
      <div class="meta">
        <span class="author">{{ comment.author.name }}</span>
        <span class="date">{{ comment.createdAt | date:'short' }}</span>
      </div>
    </div>
  </div>
</div>
